.anchor {
  color: var(--primary-text);
  text-decoration: none;
}

.anchor:active, 
.anchor:visited {
  text-decoration: underline !important;
}

.anchor:hover {
  color: var(--primary-background);
}
