.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: revert;
  position: relative;
  margin-top: 56px;
  padding: 4px 20px;
}

.content {
  max-width: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  line-height: 1.5;
}

.innerItem {
  width: 40%;
  align-items: center;
}

.itemTitle {
  margin: 8px;
}

.imageOne {
  width: 42%;
  max-width: 390px;
}

.imageTwo {
  width: 30%;
  max-width: 390px;
}
