.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: revert;
  position: relative;
  margin-top: 56px;
  padding: 4px 20px;
}

.content {
  max-width: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  line-height: 1.5;
}

.innerItem {
  width: 40%;
  align-items: center;
}

.itemTitle {
  margin: 8px;
}

.imageOne, .imageTwo, .imageThree {
  max-width: 390px;
}

.imageOne {
  width: 32%;
}

.imageTwo {
  width: 30%;
}

.imageThree {
  width: 34%;
}

@media only screen and (max-width: 600px) {
  .item {
    flex-direction: column;
  }

  .innerItem {
    width: 100%;
  }

  .imageOne, .imageTwo, .imageThree {
    margin-top: 24px;
    width: 100%;
  }

  .imageTwo {
    max-width: 250px;
  }
}
