header {
  display: flex;
  align-items: center;
  padding: 4px 20px;
  height: 64px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 5%);
}

.logoWrapper {
  flex-basis: 33%;
  display: flex;
  align-items: center;
}

.logoText {
  color: var(--primary-background);
  font-weight: 600;
  margin-top: 1px;
}

.text {
  text-align: center;
  flex-basis: 33%;
}

@media only screen and (max-width: 600px) {
  .text {
    display: none;
  }
}
