header {
  display: flex;
  align-items: center;
  padding: 4px 20px;
  height: 64px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 5%);
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoText {
  color: var(--primary-background);
  font-weight: 600;
  margin-top: 1px;
}
